<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<array>
		<string>批量退群</string>
		<string>批量星标好友</string>
	</array>
	<key>2</key>
	<array>
		<string>手势解锁</string>
		<string>指纹解锁</string>
	</array>
	<key>3</key>
	<array>
		<string>基本设置</string>
		<string>内容设置</string>
		<string>安全设置</string>
		<string>批量操作</string>
		<string>跟随朋友圈转发</string>
		<string>修改微信运动步数</string>
		<string>自动抢红包和收款</string>
	</array>
	<key>4</key>
	<array>
		<string>仅检测</string>
		<string>检测并删除</string>
	</array>
	<key>5</key>
	<array>
		<string>检测僵尸粉</string>
		<string>检测朋友圈</string>
	</array>
	<key>6</key>
	<array>
		<string>个人群发</string>
		<string>标签群发</string>
		<string>群组群发</string>
		<string>定时群发</string>
		<string>跟随群发</string>
		<string>名片推送</string>
		<string>群主功能</string>
	</array>
	<key>7</key>
	<array>
		<string>非凡计算器</string>
		<string>非凡随意截图</string>
	</array>
	<key>8</key>
	<array>
		<string>开启快捷聊天</string>
		<string>计算器和截图</string>
		<string>定位</string>
		<string>群发功能</string>
		<string>朋友圈转发</string>
		<string>一键标记已读</string>
		<string>批量删除会话</string>
		<string>检测僵尸粉和朋友圈</string>
		<string>设置更多的非凡功能</string>
	</array>
	<key>9</key>
	<array>
		<string>恢复默认</string>
		<string>确定修改</string>
		<dict>
			<key>title</key>
			<string>TITLE</string>
			<key>message</key>
			<string>abjhdalbvkabdlvbkdvbhjabvakjbafbvabjka;iaksvhbvhbvhjbk vhjdabfhbvbalhjvv advabvjhbvbvkbk vjvbhad</string>
			<key>placeHolder</key>
			<string>输入内容</string>
			<key>okBtnTitle</key>
			<string>OK</string>
		</dict>
	</array>
	<key>10</key>
	<array>
		<string>基本设置</string>
		<string>内容设置</string>
		<string>安全设置</string>
		<string>批量操作</string>
		<string>跟随朋友圈转发</string>
		<string>修改微信运动步数</string>
		<string>自动抢红包和收款</string>
	</array>
</dict>
</plist>
